:root {
    --primary-color: #00d94f;
    --secondary-color : #3db4e7;
    --accent-color: #f97e00;

    --background-gradient: linear-gradient(180deg, #1F2A33 0%, #1A232B 13.49%, #0B1116 29.75%);
    --background-primary: #202830;
    --text-primary: #ebeff2;
    --text-secondary: #A9BBCC;
    --font-family: 'Graphik', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background:var(--background-gradient);
    color: var(--text-primary);
    font-family: 'Graphik', sans-serif;
}

p {
    margin: 0;
}

.container {
    width: 90%;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/*----MÉTRICAS--------------------------------------------------------------------------------------------------------*/
.metrics-section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 4rem;
    flex-wrap: wrap;
}

.metric-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metric-value {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--accent-color);
    text-shadow: 0 0 2px var(--secondary-color);
}

.metric-label {
    font-size: 1rem;
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0.5rem;
}

/*---REWATCH----------------------------------------------------------------------------------------------------------*/

.rewatch-section {
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 215, 78, 0.1);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.rewatch-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 1.2rem;
    color: var(--text-secondary);
    font-style: italic;
    width: 80%;
}

/*-----GRÁFICOS---------------------------------------------------------------------------------------------------------------*/

.graphic-dashboard {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.grafico-card {
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    max-width: 40%;
}
