:root {
    --primary-color: #00d94f;
    --secondary-color: #3fbcf2;
    --accent-color: #fc7e00;
    --background-gradient: linear-gradient(180deg, #1F2A33 0%, #1A232B 13.49%, #0B1116 29.75%);
    --text-primary: #edeff1;
    --text-secondary: #A9BBCC;
    --background-primary: #202830;
    --background-secondary: #14181c;

    /*Fontes*/
    --graphik: 'Graphik', sans-serif;
    --libre-caslon: "Libre Caslon Text", sans-serif;
    --yantramanav: "Yantramanav", sans-serif;
    --geologica: "Geologica", sans-serif;

}

html {
    scroll-behavior: smooth;
    image-rendering: smooth;
}

.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    max-height: 5rem;
    background-color: var(--background-secondary);
}

.link-section {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link-section > li > a {
    font-size: 1rem;
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.link-section > li > a.active {
    color: var(--text-primary);
}

.logo-image {
    height: 5rem;
}

.logo-section {
    display: flex;
    align-items: center;
    position: relative;
}

.logo-cont {
    font: 800 2rem 'Graphik', sans-serif;
    position: absolute;
    right: 0;
    top: 0.9rem;
    color: #e6eaed;
}

.logo-filler {
    width: 4.5rem;
}