{% macro metric_card(value, label) %}
    <div class="metric-container">
        <p class="metric-value">{{ value if value != None else "-"}}</p>
        <p class="metric-label">{{ label  }}</p>
    </div>
{% endmacro %}

{% macro profiling(profile_name, profile_description, profile_chart) %}
    <section class="profiling-section">
        <h2>{{ profile_name }}</h2>
        <p class="profile_description">{{ profile_description }}</p>

        <div class="profiling-chart">
            {{ profile_chart | safe }}
        </div>
    </section>
{% endmacro %}

{% macro movie_list(label, movies) %}
    <section class="movie-section">

        <h2 class="label-list">{{ label }}</h2>
        <span class="horizontal-line"></span>

        <ol class="movie-list">
            {% for movie in movies %}
                <li>
                    <div>
                        <img src="{{ movie.Poster }}" alt="{{ movie.name }} poster" width="200">
                        <h3>{{ movie.Name }}</h3>
                        <p>{{ movie.Year }}</p>
                    </div>
                    <p>{{ movie.Rating }}</p>
                </li>
            {% endfor %}
        </ol>
    </section>
{% endmacro %}