{% macro metric_card(value, label) %}
    <div class="metric-container">
        <p class="metric-value">{{ value if value != None else "-"}}</p>
        <p class="metric-label">{{ label  }}</p>
    </div>
{% endmacro %}

{% macro profiling(profile_name, profile_description, profile_chart) %}
    <section class="profiling-section">
        <h2>{{ profile_name }}</h2>
        <p class="profile_description">{{ profile_description }}</p>

        <div class="profiling-chart">
            {{ profile_chart | safe }}
        </div>
    </section>
{% endmacro %}

{% macro movie_list(label, movies, id_class) %}
    <section class="movie-section">

        <h2 class="label-list">{{ label }}</h2>
        <span class="horizontal-line-movie"></span>

        {% if movies %}
            <ol class="movie-list {{ id_class }}">
                {% for movie in movies if movies %}
                    <li>
                        <img src="{{ movie.poster }}" alt="{{ movie.name }} poster" title="{{ movie.name }}">
                        <div class="movie-info">
                            <h3 title="{{ movie.name }}">{{ movie.name }}</h3>
                            <p>{{ movie.Year }}</p>
                            <div class="stars" style="--rating: {{ movie.rating }};" aria-label="Nota: {{ movie.rating }} de 5" title="{{ movie.rating }}"></div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <p class="no-movies">No movies here yet :(</p>
            <span class="horizontal-line movie"></span>
        {% endif %}
    </section>
{% endmacro %}