<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Badges</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
              rel="stylesheet">
    </head>
    <body>
        {% include "partials/nav.html" %}

{#        {% from "partials/macros.html" import render_genre_icon %}#}
{##}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Action") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Adventure") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Animation") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Comedy") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Crime") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Documentary") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Drama") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Fantasy") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("History") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Horror") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Music") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Mystery") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Romance") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Science Fiction") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Thriller") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("TV Movie") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("War") }}#}
{#        </div>#}
{#        <div class="icon-wrapper">#}
{#            {{ render_genre_icon("Western") }}#}
{#        </div>#}
    </body>
</html>