<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Current Vibe</title>
        <link rel="icon" href="{{ url_for("static", filename="images/favicon.png") }}" type="image/png">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/nav.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/movieList.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/likedDisliked.css") }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/currentProfile.css") }}">
    </head>
    <body>
        {% from "partials/macros.html" import movie_list, metric_card, liked_disliked, profiling %}
        {% include "partials/nav.html" %}

        <main class="container">
            <div class="button-container">
                <button class="view-button active" data-target="panel-week">WEEK</button>
                <span class="separator">|</span>
                <button class="view-button" data-target="panel-month">MONTH</button>
                <span class="separator" >|</span>
                <button class="view-button" data-target="panel-year">YEAR</button>
            </div>

            <section id="panel-week" class="panel active">
                <section class="metrics-section">
                    {% for metric in context.metrics_list_week %}
                        {{ metric_card(metric.value, metric.label) }}
                    {% endfor %}
                </section>

                {{ movie_list("Watched This Week", context.watched_movies.watched_this_week)}}
                <div class="space"></div>

                <div class="chart-container">
                    {{ liked_disliked(context.most_liked_disliked_week.most_liked_movie, context.most_liked_disliked_week.most_disliked_movie) }}

                    {{ profiling(context.time_lag_week.time_profile, context.time_lag_week.time_description, time_lag_graphs.time_lag_week) }}
                </div>
            </section>

            <section id="panel-month" class="panel">
                <section class="metrics-section">
                    {% for metric in context.metrics_list_month %}
                        {{ metric_card(metric.value, metric.label) }}
                    {% endfor %}
                </section>

                {{ movie_list("Watched This Month", context.watched_movies.watched_this_month)}}
                <div class="space"></div>

                <div class="chart-container">
                     {{ liked_disliked(context.most_liked_disliked_month.most_liked_movie, context.most_liked_disliked_month.most_disliked_movie) }}

                     {{ profiling(context.time_lag_month.time_profile, context.time_lag_month.time_description, time_lag_graphs.time_lag_month) }}
                </div>

            </section>

            <section id="panel-year" class="panel">
                <section class="metrics-section">
                    {% for metric in context.metrics_list_year %}
                        {{ metric_card(metric.value, metric.label) }}
                    {% endfor %}
                </section>

                {{ movie_list("Watched This Year", context.watched_movies.watched_this_year)}}
                <div class="space"></div>

                <div class="chart-container">
                    {{ liked_disliked(context.most_liked_disliked_year.most_liked_movie, context.most_liked_disliked_year.most_disliked_movie) }}

                     {{ profiling(context.time_lag_year.time_profile, context.time_lag_year.time_description, time_lag_graphs.time_lag_year) }}
                </div>

            </section>
        </main>


        <div class="space"></div>
        <script src="{{ url_for("static", filename="javascript/toggler.js") }}"></script>
    </body>
</html>