<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Seu perfil cinéfilo</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
</head>
    <body>
        {% include "partials/nav.html" %}

        <div class="container">
            <section class="metrics-section">
                {% from "partials/macros.html" import metric_card %}

                {% for metric in context.metric_list %}
                    {{ metric_card(metric.value, metric.label) }}
                {% endfor %}
            </section>

            <div class="first-charts-container">
                {% from "partials/macros.html" import profiling %}

                {{ profiling(context.rewatch_profile, context.rewatch_description, rewatch_rate) }}

                <div class="vertical-separator"></div>

                <section class="streak-section">

                    <div class="circle-container">
                        <div class="central-text">
                            {% if context.longest_streak.days > 1 %}
                                <div class="streak-container">
                                    <h2>{{ context.longest_streak.days }}</h2>
                                    <h3>dias</h3>
                                </div>
                            {% else %}
                                <div class="streak-container">
                                    <h2>0</h2>
                                    <h3>Maratonas</h3>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="streak-details">
                        {% if context.longest_streak.days > 1 %}
                            <p class="streak-title">Maratona mais duradoura</p>
                            <p>{{ context.longest_streak.start }} à {{ context.longest_streak.end }}</p>
                        {% else %}
                            <p class="streak-title">Assista filmes todos os dias para começar uma maratona</p>
                        {% endif %}
                    </div>
                </section>
            </div>


            <div class="graphic-dashboard">
                <div class="grafico-card">
                    {{ favorite_day | safe }}
                </div>

                <div class="grafico-card">
                    {{ likeness_series | safe }}
                </div>

                <div class="grafico-card">
                    {{ time_lag | safe }}
                </div>

                <div class="grafico-card">
                    {{ rating_distribution | safe }}
                </div>

                <div class="grafico-card">
                    {{ favorite_decade | safe }}
                </div>
            </div>
        </div>
    </body>
</html>