<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link rel="icon" href="{{ url_for("static", filename="images/favicon.png") }}" type="image/png">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/nav.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/profile.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/movieList.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="css/wordcloud.css") }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
              rel="stylesheet">
    </head>
    <body>
        {% include "partials/nav.html" %}

        <main class="container">
            <section class="metrics-section">
                {% from "partials/macros.html" import metric_card %}

                {% for metric in context.metric_list %}
                    {{ metric_card(metric.value, metric.label) }}
                {% endfor %}
            </section>

            <section class="chart-container movie-map">
                <h3>Your Cinematic Journey</h3>

                <span class="controls">
                    <p>MOVIES BY COUNTRY</p>
                </span>

                {{ movie_map | safe }}
            </section>

            <section class="chart-container rewatch">
                {% from "partials/macros.html" import profiling %}

                {{ profiling(context.rewatch_context.rewatch_profile,
                                                    context.rewatch_context.rewatch_description,
                                                     rewatch_rate) }}

                {% from "partials/macros.html" import movie_list %}

                {{ movie_list("Rewatch", context.rewatch_context.rewatched_movies, "rewatch") }}
            </section>

            <section class="chart-container movie-moment">
                <div class="circles-container">
                    <div>
                        <p class="movie-moment-label day">{{ context.movie_context.favorite_day }}</p>
                        <img src="../static/images/ilustracaosol.png" class="circle day"/>
                    </div>

                    <div>
                        <div>
                            <p class="movie-moment-label genre">{{ context.movie_context.favorite_genre }}</p>
                            <img src="../static/images/ilustracaopipoca.png" class="circle genre"/>
                        </div>

                        <div>
                            <p class="movie-moment-label decade">{{ context.movie_context.favorite_decade }}</p>
                            <img src="../static/images/ilustracaofita.png" class="circle decade"/>
                        </div>
                    </div>
                </div>

                <div class="moment-image container">
                    <img src="../static/images/illustracaomomentocinema.png" alt="Homem assistindo TV" class="moment-image">
                </div>

                <p class="movie-moment-description">
                    Your ultimate movie-watching moment always happens on
                    <span class="day">{{ context.movie_context.favorite_day }}s</span>, making up
                    <span class="percentage">{{ context.movie_context.movie_percentage }}%</span>
                    of your movie time and setting a stage where
                    <span class="decade">{{ context.movie_context.favorite_decade }}</span>
                    <span class="genre">{{ context.movie_context.favorite_genre }}</span> steals the show
                </p>
            </section>

            <section class="chart-container word-cloud">
                <h2>Frequent themes on your silver screen</h2>
                <span class="horizontal-line word-cloud"></span>

                <img src="{{ url_for("static", filename="images/overview_cloud.png") }}"
                     alt="Most common overview word cloud" class="wordcloud-image">
            </section>

            <div class="chart-container streak">
                {{ movie_list("Movie Streak", context.streak_context.movies, "streak") }}

                <section class="streak-section">
                    <div class="circle-container">
                        <div class="central-text">
                            {% if context.streak_context.days > 1 %}
                                <div class="streak-container">
                                    <h2>{{ context.streak_context.days }}</h2>
                                    <h3>days</h3>
                                </div>
                            {% else %}
                                <div class="streak-container">
                                    <h2>0</h2>
                                    <h3>Streaks</h3>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="streak-details">
                        {% if context.streak_context.days > 1 %}
                            <p class="streak-title">Longgest Streak</p>
                            <p>{{ context.streak_context.start }} to {{ context.streak_context.end }}</p>
                        {% else %}
                            <p class="streak-title">Watch and rate evevry day to start a streak</p>
                        {% endif %}
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>